* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%

}

#infos {
    background:black;
    height: auto;
}

#divImage {
    height: 100%;
    width: 50%;
}

#imagem{
    height: 100%;
    width: 100%;
}

#logo img {
    margin: 50px 30px;
    padding: 3px;
    width: 389px;
    height: 94px;
}

#info1 {
    text-align: left;
    color: #08C05E;
    font-family: Work Sans;
    font-size: 24px;   
    margin:36px
}

#info2 p{
    text-align: left;
    color: white;
    font-family: League Spartan;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 20px;
    margin: 36px;
}

#info3 p {
    text-align: left;
    color: white;
    font-family: League Spartan;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    margin: 36px;
}

#email p {
    color: #A8A8A8;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 36px;
}


#email input {
    padding: 8px;
    margin-bottom: 15px;
    width: 250px;
    margin: 36px;
}
  
#email button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 36px;
}
